<header>
    <mat-toolbar class="justify-content-between" color="accent">
        <div class="header-left d-flex">


            <button mat-icon-button (click)="toggleMenu()">
                <mat-icon>menu</mat-icon>
            </button>


            <div class="appLogo d-flex align-items-center">somelogo </div>
        </div>
        <div class="header-right">
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</header>


