<main class="auth-main">
    <div class="container d-flex justify-content-center">
        <mat-card class="auth-container">

<div class="border-bottom py-3">
    <mat-card-title class="text-center">
        <p class="text-center headline"> Change Password </p>
    </mat-card-title>
</div>


    <form [formGroup]="resetPasswordForm" class ="px-5 py-3 mb-3 border-bottom" 
                    novalidate (ngSubmit)="changePassword(resetPasswordForm.value)">

            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error *ngFor="let validation of authErrors.password">
                    
                <mat-error class="error-message" *ngIf="resetPasswordForm.get('password').hasError(validation.type) 
                && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"  [errorStateMatcher]="parentErrorStateMatcher" required>
                <mat-error *ngFor="let validation of authErrors.confirm_password">
                <mat-error class="error-message" *ngIf="resetPasswordForm.get('confirm_password').hasError(validation.type)
                && (resetPasswordForm.get('confirm_password').dirty || resetPasswordForm.get('confirm_password').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>


            <div class="col-sm">
                <button mat-raised-button color="accent" type="submit" [disabled]="!resetPasswordForm.valid"> Change password </button>
            </div>


    </form>     




            
        </mat-card>
    </div>
</main>


