
<main class="auth-main">
    <div class="container d-flex justify-content-center">
        <mat-card class="auth-container">
            <div class="border-bottom py-3">
                <mat-card-title class="text-center">
                    <p class="text-center headline"> Forgot password </p>
                </mat-card-title>
            </div>

            <form [formGroup]="ForgotPasswordForm" class ="px-5 py-3 mb-3 border-bottom" novalidate (ngSubmit)="forgetPassword(ForgotPasswordForm.value)">


                <mat-form-field class="form-group mb-3">
                    <input matInput type="email" placeholder="Email" formControlName="email" required>
                    <mat-error *ngFor="let validation of authErrors.email">
                        <mat-error class="error-message" *ngIf="ForgotPasswordForm.get('email').hasError(validation.type) 
                        && (ForgotPasswordForm.get('email').dirty || ForgotPasswordForm.get('email').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>


                <div class="container mt-3">
                    <div class="col-sm d-flex justify-content-center flex-wrap">
                        <button class="mt-3" mat-raised-button color="accent" type="submit" [disabled]="!ForgotPasswordForm.valid" >Submit</button>
                    </div>
                </div>

            </form>     
            <div class="form-choice">
                <p class="text-center">Don't have an account ?
                    <a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page"> Sign Up</a>
                </p>
            </div>
        </mat-card>
    </div>
</main>