
.invisible-tree {
    display: none;
}
.filter-colors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: .7rem;
    padding-bottom: .5rem;
    cursor: pointer;
  }
.filter-colors a {
      position: relative;
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      border: .2rem solid #fff;
      margin: 0 .3rem .3rem;
      transition: box-shadow .35s ease;
}
.filter-colors a:after {
      color: #fff;
      font-family: 'molla';
      content: '\ec2d';
      font-size: 1rem;
      line-height: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .01s;
      margin-top: -.4rem;
      margin-left: -.5rem;
}
.filter-colors a.selected, .filter-colors a:hover, .filter-colors a:focus {
      box-shadow: 0 0 0 .1rem #cccccc;
}