
<mat-progress-bar *ngIf="!loader" mode="indeterminate"></mat-progress-bar>

<section *ngIf="loader | async" class="container py-5">

  <div  *ngIf="cart.count > 0;then notEmptyTemplate else emptyTemplate "></div>


        <ng-template #notEmptyTemplate >
          <div class="row d-flex justify-content-center h-100">

            <div class="col-sm-7"> 
              <mat-card *ngIf="loader | async" class="card" style="border-radius: 5px;">
                <div  *ngFor="let product of cart.content | keyvalue; let isLast = last" class="card-body p-0">
                      <div class="p-5">
                        <div class="row d-flex justify-content-between align-items-center">
                          <div class="col-md-3">
                            <img
                              src="{{product.value.picture}}"
                              class="img-fluid rounded-3" alt="Cotton T-shirt">
                          </div>
                          <div class="col-md-3">
                            <h6 class="mat-title">{{product.value.title}}</h6>
                            <h6 class="mat-caption mb-0">{{product.value.title}}</h6>
                          </div>
                          <div class="col-md-3">
                            <input disabled value="{{product.value.qty}}" class="form-control form-control-sm text-center" />
    
                          </div>
                          <div class="col-md-2">
                            <h6 class="mat-caption mb-0">€ {{product.value.price}}</h6>
                          </div>
                          <div class="col-md-1">
    
                            <button (click)="remove(product.value.id)"mat-mini-fab style="transform: scale(1);" >
                              <mat-icon>delete</mat-icon>
                            </button>
    
                          </div>
                        </div>
                      </div>
    
                      <mat-divider *ngIf="!isLast" class="px-3"></mat-divider>
    
                </div>
              </mat-card>
            </div>

            <div class="col-sm-3" style="width: 350px;">
    
                <mat-card class="card mt-3 p-3 d-flex flex-column" style="border-radius: 5px; height: auto;">
                    <div class="container p-0">
    
                      <div class="mat-display-1 text-center">Recap</div>
    
                      <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                          <div>
                            <small class="mat-subheading-2">subtotal</small>
                          </div>
                          <span class="mat-subheading-1">$0</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                          <div>
                            <small class="mat-subheading-2">Shipping fees</small>
                          </div>
                          <span class="mat-subheading-1">$0</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                          <span class="mat-title">Total (USD)</span>
                          <strong>$ {{cart.total}}</strong>
                        </li>
                      </ul>  
                    </div>
                
                    <button mat-raised-button class="my-3" color="accent">Checkout</button>
                  </mat-card>
    
            </div>

          </div>
        </ng-template>


        <ng-template #emptyTemplate >
          <mat-card class="card" style="padding:0;border-radius: 5px;">
            <div class="bg-light p-5 rounded">
              <div class="col-sm-8 py-5 mx-auto text-center">
                <div class="mat-headline">Votre panier est vide</div>
                <div class="cart_img"></div>
                <button [routerLink]="'/products'" mat-raised-button class="my-3" color="accent">Continuer vos achats</button>
            </div>
            </div>
          </mat-card>

        </ng-template>


  </section>
